name: build-and-test
on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Golang
        uses: actions/setup-go@v5
        with:
          go-version: 1.24
      - name: Set GOROOT environment variable
        run: echo "GOROOT=$(go env GOROOT)" >> $GITHUB_ENV
      - name: Build code
        run: go build
      - name: Test code
        run: go test -v ./...
