name: build-and-test
on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - name: Setup Golang
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5
        with:
          go-version: 1.24
      - name: Set GOROOT environment variable
        run: echo "GOROOT=$(go env GOROOT)" >> $GITHUB_ENV
      - name: Build code
        run: go build
      - name: Test code
        run: go test -v ./...
